
.header{
    width: 100%;
    height: 15vh;
    background-color: #1f1f1f;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* position: fixed !important; */
    top: 0;
    z-index: 100;

}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-header a{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
    margin-left: 30px;

}

.text-header a:hover{
    color: #ea5823;


}

menu{
    height: 24px;
}
.basket{
    width: 105px;
    height: 100%;
    background-color: #ea5823;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
li a{
    text-decoration: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: white;
}

li a:hover{
    color: #ea5823;
    /* transition: 10000ms; */
}

ul{
    display: flex;
    width: 492px;
    justify-content: space-between;
}

p{
    margin: 0;
}
.text-basket{
    width: 12px;
    height: 20px;
    font-family:  Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-size: 20px;

}

.text-reg a, .text-reg p{
    color: #e05421;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 500;
}


.modal-content{
    background-color: #e7e7e7;
    border-radius: 0;
}

a:hover{
  cursor: pointer;
}
.button-log{
    width: 100px;
    height: 30px;
    color: #ea5823;
    border: 1px solid #ea5823;
    background-color: transparent;
    margin-top: 10px;
  }

  .button-log:hover{
    color: white;
    border: 2px solid #ea5823;
    background-color: #ea5823;
  }

  .modal-title{
      color: #ea5823;
  }

  input:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
    border: 0;

}

input{
    border-radius: 0;
}





.basket-icon{
    width: 30px;
    height: 26px;
    background-image: url(/assets/icons/cart.png);
    background-size: 30px 26px;
    border: 0;
    background-color: transparent;
}

.text-cart{
    /* line-height: 26px; */
    font-size: 20px;
    height: 26px;
    margin: 0;
    font-weight: 300;
    margin-left: 5px;
}

.nav{ clear: both;}
        a {float: left;}
        .active a { color:#ea5823;}