
<table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Сlient</th>
            <th scope="col">Shipping</th>
            <th scope="col">Order</th>
            <th scope="col">Delete</th>
   
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orders; let i = index">
            <th scope="col">{{ i + 1 }}</th>
            <th scope="col">{{ item.name }} <br> {{item.email}} <br> {{item.mobNumber}}</th>
            <th scope="col">{{ item.town }}, {{item.address}}, {{item.shipping}}</th>
            <th scope="col">
                <div *ngFor="let product of item.order">
                    <img src="{{product.image}}" alt="" width="50px"> 
                    <span>{{product.name}} </span> <br>
                    <span>Color: {{product.color}}, </span>
                    <span>Size: {{product.size}}</span> <br>
                    <span>{{product.price  | currency: "USD"}}, {{product.quantity}} pieces</span> <br>
                    <hr>
            </div>
            <span>TOTAL: {{item.total  | currency: "USD"}} </span>
          </th>
            <th scope="col">
              <button type="button" class="btn btn-dark" (click)="onDelete(item.id)">Delete</button>
            </th>
          </tr>
        </tbody>
      </table>