<div id="forum-main1">
  <div class="box1-main1">
    <div class="forum">FORUM</div>
  </div>
  <div class="box2-main1"></div>
</div>


<div id="forum-main2">
  <div class="input-text">
    <p class="input-text-text"> <a routerLink="blog1" (click)="next()">FITNESS AND HEALTH FORUM </a></p>
    <!-- <p class="input-text-text"> <a routerLink="blog2" *ngIf="checkNext"> / {{nameForumTitle}} </a></p>
    <p class="input-text-text"> <a routerLink="blog3" *ngIf="checkNext"> / GGG</a></p> -->
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>