<div id="contact-main1">
    <div class="box1-main1">
        <div class="contact">CONTACT</div>
    </div>
    <div class="box2-main1"></div>

</div>

<div class="main">


  
    <div class="wrap">
            <div>
                    <p class="text">VISIT OUR STORE</p>
                    <p>Address: 500 Terry Francois Street <br>
                
                        San Francisco, CA 94158 <br>
                
                        Phone: 123-456-7890 <br>
                
                        Email: info@my-domain.com</p>
            </div>
            
        <p>
            Store 1 <br>
    
            500 Terry Francois Street <br>
    
            San Francisco, CA 94158 <br>
    
            ​Tel: 123-456-7890
        </p>
    
        <p>
            Store 2 <br>
    
            500 Terry Francois Street <br>
    
            San Francisco, CA 94158 <br>
    
            ​Tel: 123-456-7890
        </p>
    
        <p>
            Store 3 <br>
    
            500 Terry Francois Street <br>
    
            San Francisco, CA 94158 <br>
    
            ​Tel: 123-456-7890
        </p>
    
        <p>
            Store 4 <br>
    
            500 Terry Francois Street <br>
    
            San Francisco, CA 94158<br>
    
            ​Tel: 123-456-7890
        </p>
    </div>
    
</div>