<div class="blog3">
    <div class="blog">

        <div class="blog-header">
            <div style="display: flex; align-items: center;">
                <div class="admin"></div><span class="text-admin">{{blog.author}}</span>
            </div>
            <span class="date">{{blog.date.seconds * 1000 | date:'MM-dd-yyyy'}}</span>
        </div>

        <p class="text-title">{{blog.title}}</p>
        <p>{{commentLength}} comments</p>
        <img src="{{blog.img}}" alt="">

        <p class="text-text">{{blog.text}}</p>


        <div class="comments">
            <div *ngFor="let item of blog.comments">
                 <div class="wrap-user"><div class="user"></div><span class="text-user">{{item.author}}</span></div>   
                <span style="font-style: italic;">{{item.comment}} </span> 
                <span *ngIf="item.author === user?.displayName" class="text-delete" (click)="deleteComment(item, blog.id)"> delete</span>

            </div>
        </div>

        <p *ngIf="user"><a class="comment-text" (click)="showComment()">Comment</a></p>
      
        <div *ngIf="commentCheck">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comment this post:</h5>
            </div>
            <div class="modal-body">
    
                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
    
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <textarea  type="text" class="form-control" name="comment" [(ngModel)]="comment"></textarea>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="checkValCom">value is empty</span>
                    <div class="row">
                            <div class="col-md-12">
                                <button class="button-log" type="button" (click)="makeComment(blog)" >Comment</button>
                            </div>
                        </div>
                </form>
    
            </div>
        </div>


        


<!-- 
        <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Comment this post:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
            
                            <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <textarea  type="text" class="form-control" name="comment" [(ngModel)]="comment"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <button class="button-log" type="submit" data-dismiss="modal" (click)="makeComment(blog)" >Comment</button>
                                        </div>
                                    </div>
                            </form>
            
                        </div>
                    </div>
                </div>
            </div>
             -->



    </div>

    <div class="reg" *ngIf="!user">
        <div class="log">
            <p>Log In to Comment</p>
            <p>Get in on the conversation.</p>
            <button type="button" class="button-log" data-toggle="modal" data-target="#logIn">Log in</button>
        </div>
        <div class="line"></div>
        <div class="sign">
            <p>Sign Up Today</p>
            <p>Not a member yet? Join our community to post and comment.</p>
            <button type="button" class="button-sign" data-toggle="modal" data-target="#signUp">Sign up</button>

        </div>

    </div>
</div>


<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                    <div class="row" *ngIf="authError">
                        <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="email">Email</label>
                            <input ngModel #email="ngModel" name="email" type="email" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="password">Password</label>
                            <input ngModel #password="ngModel" name="password" type="password" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-2">


                        <div class="col-12">
                            <button class="button-log" type="submit">Log in</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="firstName">First name</label>
                            <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control"
                                id="firstName">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="lastName">Last name</label>
                            <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control"
                                id="lastName" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="email">Email</label>
                            <input ngModel #email="ngModel" name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="password">Password</label>
                                <input ngModel #password="ngModel" name="password" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="button-log" type="submit" data-dismiss="modal">Sign up</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<!-- <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comment this post:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
    
                    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
        
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <textarea  type="text" class="form-control" name="comment" [(ngModel)]="comment"></textarea>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <button class="button-log" type="submit" data-dismiss="modal" (click)="makeComment()">Comment</button>
                                </div>
                            </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
     -->