*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

/* li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
} */

button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);

  }

  input:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);

  }

  img:focus{
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
  }


  select:focus{
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
  }

  /* .modal-content{
    background-color: #e7e7e7;
    border-radius: 0;
}

.modal-title{
  color: #ea5823;
}
input, textarea{
  border-radius: 0;
} */