.main{
    width: 100%;
    min-height: 600px;
    background-color: #e8e6e6;
    padding: 50px;
    padding-left: 200px;
}

.text{
    color: #ea5823 ;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 16px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #1f1f1f;
}

ul{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 15px;
}

.wrap{
    display: flex;
}

.reg{
    width: 50%;
    height: 500px;
    /* background-color: #ea5823; */
}

.cart{
    min-height: 800px;
    width: 50%;
}

img{
    margin-right: 10px;
}

.products{
    width: 60%;
    min-height: 200px;
    background-color: #1f1f1f;
    margin: 0 auto;
    padding: 15px;
    
}

.product{
    width: 100%;
    height: 150px;
    padding: 15px;

}

p, span{
    margin: 0;
    color: #d2d2d2;
}

.price{
    font-weight: 700;
    margin-left: 10px;
}

.line{
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: #d2d2d2;
    margin-top: 16px;
}

input, .custom-select{
    width: 400px;
    height: 40px;
    border-radius: 0;
    
}

.custom-select:focus{
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);

}

input:focus{
    outline: none;
    border-color: transparent;
}

.active{
    background-color: #ea5823;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    color: white;
}

.inactive{
    background-color: transparent;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    color: #ea5823;
}

.buttonSubmit{
    color: #ea5823;
    border: 2px solid #ea5823;
    background-color: transparent;
    width: 100px;
    height: 40px;
}

.buttonSubmit:hover{
    color: white;
    background-color: #ea5823;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
} 


.edit a{
    font-size: 20px;
    color: #d2d2d2;
}

.edit a:hover{
    font-size: 20px;
    color: #d2d2d2;
    text-decoration: underline;
}

input[type = "radio"]{
    width: 15px;
    height: 15px;
}

.label{
    color: #1f1f1f;
    margin: 10px;

}

.button-log{
    width: 130px;
    height: 30px;
    color: #ea5823;
    border: 1px solid #ea5823;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .button-log:hover{
    color: white;
    border: 2px solid #ea5823;
    background-color: #ea5823;
  }

  .title{
      color: #1f1f1f;
      font-size: 20px;
      font-weight: 500;
  }

  li:hover{
      cursor: pointer;
  }

  .titleactive{
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
  }

  .final{
      text-align: center;
      margin: 0 auto;
      margin-top: 200px;
  }

  .final > p{
      font-size: 30px;
      color: #1f1f1f;
  }

  .final p a {
      color: #ea5823;
  }

  .final p a:hover {
    text-decoration: underline;
    color: #ea5823;
}