<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="title"
      [(ngModel)]="title" name="title" />
  </div>

  <div class="form-group">
    <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="text"
      [(ngModel)]="text" name="text"></textarea>
  </div>

  <div class="form-group">
    <input type="hidden" class="form-control" [(ngModel)]="img" name="img" />
  </div>
  <div class="form-group">
    <input type="hidden" class="form-control" [(ngModel)]="idImg" name="idImg" />
  </div>





  <div class="form-group row">
    <div class="card-body">
      <h5 class="card-title" *ngIf="!checkEdit">Image:</h5>
      <h5 class="card-title"  *ngIf="checkEdit">Choose new Image:</h5>
      <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg" /> -->
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
      <br /><br />
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
          [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="uploadProgress | async" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <br />

        <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
          File uploaded: <a [href]="downloadSrc">{{ downloadSrc }}</a>
        </div>

    </div>
  </div>
  <small class="text-danger" *ngIf="checkVal">some value is empty</small> <br>

  <button *ngIf="!checkEdit" type="submit" class="btn btn-dark" (click)="addImageandProducts()" style="margin-top: 15px;">Add</button>
  <button type="button" class="btn btn-dark" *ngIf="checkEdit" (click)="saveEdit()">Save Edit</button>


</form>


<table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forum of forums; let i = index">
      <th scope="col">{{i+1}}</th>
      <th scope="col">{{forum.title}}</th>
      <th scope="col">{{forum.text}}</th>
      <th scope="col"><img src="{{forum.img}}" alt="" width="70px"></th>
      <th scope="col"><button type="button" class="btn btn-dark" (click)="onEdit(forum)">Edit</button></th>
      <th scope="col">    <button type="button" class="btn btn-dark" (click)="onDelete(forum.id, forum.idImg)">
        Delete
      </button></th>
    </tr>
  </tbody>
</table>